
@charset "utf-8";
$sc: 20;
//声明一个变量
* {
    margin: 0;
    padding: 0;
}
a{
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
html,body{
    width: 100%;
    height: 100%;
}
.wrap {
    width: 100%;  
    height: 100%;
    .top_qiri {
        width:100%;
        height:55/$sc+rem;
        position: fixed;
        top:0;
        text-align: center;
        line-height: 55/$sc+rem;
        background: white;
        z-index: 999;
        font-size: 18/$sc+rem;
        color: #999;
        i {
            float: left;
            height: 20/$sc+rem;
            width: 10/$sc+rem;
            margin: 15/$sc+rem 0 0 15/$sc+rem;
            position: relative;
            .img{
                position: absolute;
                top: 0;
                left: 0;
                height: 20/$sc+rem;
                width: 10/$sc+rem;
            }
        }
    }
    .book_list {       
        overflow: auto;
        padding:55/$sc+rem 20/$sc+rem 0;
        width:280/$sc+rem;
        height:(568-55)/$sc+rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        li {
            /*background: url(../img/ca2cad9fc7d4483623bc9139d322bb3e.jpg) -100px -10px;*/
            list-style: none;
            width: 28%;
            height: 120/$sc+rem;
            float: left;
            border-radius: 5/$sc+rem;
            margin-bottom: 50/$sc+rem;
            position: relative;
            img {
                width: 100%;
                height: 120/$sc+rem;
            }
            span {
                display: block;
                position: absolute;
                left: 30%;
                bottom: -20%;
                width: 100%;
                font-size: 8/$sc+rem;
                transform: translate(-30%,20%);
                text-align-last: center;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }
}
